agm-map {
    width: 100% !important;
    height: 605px !important;
    background-repeat: no-repeat;
    ;
}

.marker {
    background-color: red;
}

.search-section {
    background: #9B9B9B;
    padding: 20px;
    border-radius: 15px 15px 15px 0px;
    display: flex;
    justify-content: space-around;
    input,
    select {
        width: 30%;
        height: 41px;
    }
    .search-btn {
        background: url(../../assets/img/icon/search-btn.png);
        width: 45px;
        height: auto;
        background-repeat: no-repeat;
        background-size: 100%;
    }
}

.search-result-section {
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
    margin: 50px auto;
    .red {
        background: #FF776B !important;
    }
    .green {
        background: #19E68C !important;
    }
    .main-card {
        background-color: #585757;
        box-shadow: 1px 2px 22px 4px #313030;
        font-family: "Woodford Bourne";
        font-weight: bold;
        font-size: 14px;
        color: #AEA19B;
        padding: 5px;
        margin: 10px;
        position: relative;
        height: 216px;
        border-radius: 30px 30px 30px 0px;
        img {
            position: absolute;
            right: 20px;
            top: 20px;
        }
    }
    p {
        font-family: 'Roboto-Medium';
        font-weight: 400;
        font-size: 22px;
        color: #AEA19B;
    }
}

@media only screen and (max-width: 600px) {
    .section {
        padding-bottom: 0px;
    }
    .search-result-section {
        .main-card {
            width: 25%;
            height: 100px;
            img {
                position: absolute;
                right: 20px;
                top: 20px;
                width: 30%;
            }
        }
    }
    // .main-card {
    //     background: url(../../assets/img/screen/card-bg.png);
    //     background-repeat: no-repeat;
    //     height: 220px;
    //     display: flex;
    //     .custom-card {
    //         box-shadow: none;
    //         background: none;
    //     }
    //     .main-img {
    //         width: 111%;
    //         margin: 4px -12px -2px;
    //         height: auto;
    //     }
    // }
}