<main class="bg-clr">
    <div class="position-relative">
        <!-- shape Hero -->
        <section class="section  pb-250">
            <div class="shape shape-style-1 shape-default">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>

        </section>
        <!-- 1st Hero Variation -->
    </div>
    <section class="section pt-lg-0 mt--200">

        <div class="container">
            <div class="row">
                <div class="title">Tu próxima</div>
                <div class="col-lg-12">
                    <div class="row row-grid">
                        <div class="col-lg-3 main-card">
                            <div> <img class="main-img" src="./assets/img/screen/top-image-1.png"></div>
                            <div class="custom-card ">
                                <div>Medio maratón de Merlbourn</div>
                                <div class="country-title">GERMANY</div>
                            </div>
                        </div>
                        <div class="col-lg-3 main-card">
                            <div> <img class="main-img" src="./assets/img/screen/top-image-2.png"></div>
                            <div class="custom-card ">
                                <div>Medio maratón de Merlbourn</div>
                                <div class="country-title">GERMANY</div>
                            </div>
                        </div>
                        <div class="col-lg-3 main-card">
                            <div> <img class="main-img" src="./assets/img/screen/top-image-1.png"></div>
                            <div class="custom-card ">
                                <div>Medio maratón de Merlbourn</div>
                                <div class="country-title">GERMANY</div>
                            </div>
                        </div>
                        <div class="col-lg-3 main-card">
                            <div> <img class="main-img" src="./assets/img/screen/top-image-2.png"></div>
                            <div class="custom-card ">
                                <div>Medio maratón de Merlbourn</div>
                                <div class="country-title">GERMANY</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-12 icons-section">
                    <div class="row row-grid">
                        <div class="col-lg-3 main-card">
                            <div> <img class="main-img" src="./assets/img/icon/icon-1.png"></div>
                            <div class="custom-card ">
                                <div><img src="./assets/img/icon/black-icon-1.png" /> 00</div>
                                <div><img src="./assets/img/icon/black-icon-2.png" /> 00</div>
                                <div><img src="./assets/img/icon/black-icon-3.png" /> 00</div>
                                <div><img src="./assets/img/icon/black-icon-4.png" /> 00</div>
                                <div><img src="./assets/img/icon/black-icon-5.png" /> 00</div>
                                <div><img src="./assets/img/icon/black-icon-6.png" /> 00</div>
                            </div>
                        </div>
                        <div class="col-lg-3 main-card">
                            <div> <img class="main-img" src="./assets/img/icon/icon-1.png"></div>
                            <div class="custom-card ">
                                <div><img src="./assets/img/icon/black-icon-1.png" /> 00</div>
                                <div><img src="./assets/img/icon/black-icon-2.png" /> 00</div>
                                <div><img src="./assets/img/icon/black-icon-3.png" /> 00</div>
                                <div><img src="./assets/img/icon/black-icon-4.png" /> 00</div>
                                <div><img src="./assets/img/icon/black-icon-5.png" /> 00</div>
                                <div><img src="./assets/img/icon/black-icon-6.png" /> 00</div>
                            </div>
                        </div>
                        <div class="col-lg-3 main-card">
                            <div> <img class="main-img" src="./assets/img/icon/icon-1.png"></div>
                            <div class="custom-card ">
                                <div><img src="./assets/img/icon/black-icon-1.png" /> 00</div>
                                <div><img src="./assets/img/icon/black-icon-2.png" /> 00</div>
                                <div><img src="./assets/img/icon/black-icon-3.png" /> 00</div>
                                <div><img src="./assets/img/icon/black-icon-4.png" /> 00</div>
                                <div><img src="./assets/img/icon/black-icon-5.png" /> 00</div>
                                <div><img src="./assets/img/icon/black-icon-6.png" /> 00</div>
                            </div>
                        </div>
                        <div class="col-lg-3 main-card">
                            <div> <img class="main-img" src="./assets/img/icon/icon-1.png"></div>
                            <div class="custom-card ">
                                <div><img src="./assets/img/icon/black-icon-1.png" /> 00</div>
                                <div><img src="./assets/img/icon/black-icon-2.png" /> 00</div>
                                <div><img src="./assets/img/icon/black-icon-3.png" /> 00</div>
                                <div><img src="./assets/img/icon/black-icon-4.png" /> 00</div>
                                <div><img src="./assets/img/icon/black-icon-5.png" /> 00</div>
                                <div><img src="./assets/img/icon/black-icon-6.png" /> 00</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-12 map-section">
                    <agm-map [latitude]="lat" [zoom]="zoom" [longitude]="lng" [styles]="darkstyle">
                        <agm-marker [iconUrl]="icon1" [latitude]="lat" [longitude]="lng"></agm-marker>
                        <agm-marker [iconUrl]="icon2" [latitude]="lat" [longitude]="lng"></agm-marker>
                    </agm-map>
                </div>
                <div class="title">RTx</div>

                <div class="col-lg-12 icons-section bottim-section">
                    <div class="row row-grid">
                        <div class="col-lg-3 main-card">
                            <div class="img-card"> <img class="main-img" src="./assets/img/icon/icon-3.png"></div>
                            <div class="custom-card ">
                                <div><img src="./assets/img/icon/black-icon-1.png" /> 00</div>
                                <div><img src="./assets/img/icon/black-icon-2.png" /> 00</div>
                                <div><img src="./assets/img/icon/black-icon-3.png" /> 00</div>
                                <div><img src="./assets/img/icon/black-icon-4.png" /> 00</div>
                                <div><img src="./assets/img/icon/black-icon-5.png" /> 00</div>
                                <div><img src="./assets/img/icon/black-icon-6.png" /> 00</div>
                            </div>
                        </div>
                        <div class="col-lg-3 main-card">
                            <div class="img-card"> <img class="main-img" src="./assets/img/icon/icon-3.png"></div>
                            <div class="custom-card ">
                                <div><img src="./assets/img/icon/black-icon-1.png" /> 00</div>
                                <div><img src="./assets/img/icon/black-icon-2.png" /> 00</div>
                                <div><img src="./assets/img/icon/black-icon-3.png" /> 00</div>
                                <div><img src="./assets/img/icon/black-icon-4.png" /> 00</div>
                                <div><img src="./assets/img/icon/black-icon-5.png" /> 00</div>
                                <div><img src="./assets/img/icon/black-icon-6.png" /> 00</div>
                            </div>
                        </div>
                        <div class="col-lg-3 main-card">
                            <div class="img-card"> <img class="main-img" src="./assets/img/icon/icon-3.png"></div>
                            <div class="custom-card ">
                                <div><img src="./assets/img/icon/black-icon-1.png" /> 00</div>
                                <div><img src="./assets/img/icon/black-icon-2.png" /> 00</div>
                                <div><img src="./assets/img/icon/black-icon-3.png" /> 00</div>
                                <div><img src="./assets/img/icon/black-icon-4.png" /> 00</div>
                                <div><img src="./assets/img/icon/black-icon-5.png" /> 00</div>
                                <div><img src="./assets/img/icon/black-icon-6.png" /> 00</div>
                            </div>
                        </div>
                        <div class="col-lg-3 main-card">
                            <div class="img-card"> <img class="main-img" src="./assets/img/icon/icon-3.png"></div>
                            <div class="custom-card ">
                                <div><img src="./assets/img/icon/black-icon-1.png" /> 00</div>
                                <div><img src="./assets/img/icon/black-icon-2.png" /> 00</div>
                                <div><img src="./assets/img/icon/black-icon-3.png" /> 00</div>
                                <div><img src="./assets/img/icon/black-icon-4.png" /> 00</div>
                                <div><img src="./assets/img/icon/black-icon-5.png" /> 00</div>
                                <div><img src="./assets/img/icon/black-icon-6.png" /> 00</div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-lg-12 bottim-img-section">
                    <div class="row row-grid">
                        <div class="col-lg-3 main-card">
                            <div class="custom-card ">
                                <div>Medio maratón de Merlbourn</div>
                                <div class="country-title">GERMANY</div>
                            </div>
                            <div> <img class="main-img" src="./assets/img/screen/bottom-image-1.png"></div>
                        </div>
                        <div class="col-lg-3 main-card">
                            <div class="custom-card ">
                                <div>Medio maratón de Merlbourn</div>
                                <div class="country-title">GERMANY</div>
                            </div>
                            <div> <img class="main-img" src="./assets/img/screen/bottom-image-2.png"></div>
                        </div>
                        <div class="col-lg-3 main-card">
                            <div class="custom-card ">
                                <div>Medio maratón de Merlbourn</div>
                                <div class="country-title">GERMANY</div>
                            </div>
                            <div> <img class="main-img" src="./assets/img/screen/bottom-image-3.png"></div>
                        </div>
                        <div class="col-lg-3 main-card">
                            <div class="custom-card ">
                                <div>Medio maratón de Merlbourn</div>
                                <div class="country-title">GERMANY</div>
                            </div>
                            <div> <img class="main-img" src="./assets/img/screen/bottom-image-4.png"></div>
                        </div>

                    </div>
                </div>
                <div class="col-lg-12 two-card-section">
                    <div class="row row-grid">
                        <div class="mt-20"> <img class="main-img" src="./assets/img/screen/line.png"></div>
                        <div class=" mt-20 two-card">
                            <div class="col-lg-6 main-card">
                                <div> <img class="main-img" src="./assets/img/screen/bottom-img-1.png"></div>
                            </div>
                            <div class="col-lg-6 main-card">
                                <div> <img class="main-img" src="./assets/img/screen/bottom-img-2.png"></div>
                            </div>
                        </div>
                        <div class=" mt-20"> <img class="main-img" src="./assets/img/screen/line.png"></div>
                    </div>
                </div>
                <div class="col-lg-12 two-card-section">
                    <div class="search-section">
                        <input />
                        <input />
                        <input />
                        <a class="search-btn"></a>
                    </div>
                    <div class="search-result-section col-lg-12">
                        <div class="main-card" [routerLink]="['/ads']">
                            <img src="./assets/img/icon/ads-1.png" />
                        </div>
                        <div class="main-card" [routerLink]="['/ads']">
                            <img src="./assets/img/icon/ads-1.png" />
                        </div>
                        <div class="main-card" [routerLink]="['/ads']">
                            <img src="./assets/img/icon/ads-1.png" />
                        </div>
                        <div class="main-card" [routerLink]="['/ads']">
                            <img src="./assets/img/icon/ads-1.png" />
                        </div>
                        <div class="main-card" [routerLink]="['/ads']">
                            <img src="./assets/img/icon/ads-1.png" />
                        </div>
                        <div class="main-card" [routerLink]="['/ads']">
                            <img src="./assets/img/icon/ads-1.png" />
                        </div>
                        <div class="main-card" [routerLink]="['/ads']">
                            <img src="./assets/img/icon/ads-1.png" />
                        </div>
                        <div class="main-card" [routerLink]="['/ads']">
                            <img src="./assets/img/icon/ads-1.png" />
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 two-card-section">
                    <div class="row row-grid">
                        <div class="mt-20"> <img class="main-img" src="./assets/img/screen/line.png"></div>
                        <div class=" mt-20 ">
                            <div class="title">Las mejores</div>
                            <div class="col-lg-12">
                                <div class="row row-grid">
                                    <div class="col-lg-3 main-card">
                                        <div> <img class="main-img" src="./assets/img/screen/top-image-1.png"></div>
                                        <div class="custom-card ">
                                            <div>Medio maratón de Merlbourn</div>
                                            <div class="country-title">GERMANY</div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 main-card">
                                        <div> <img class="main-img" src="./assets/img/screen/top-image-2.png"></div>
                                        <div class="custom-card ">
                                            <div>Medio maratón de Merlbourn</div>
                                            <div class="country-title">GERMANY</div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 main-card">
                                        <div> <img class="main-img" src="./assets/img/screen/top-image-1.png"></div>
                                        <div class="custom-card ">
                                            <div>Medio maratón de Merlbourn</div>
                                            <div class="country-title">GERMANY</div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 main-card">
                                        <div> <img class="main-img" src="./assets/img/screen/top-image-2.png"></div>
                                        <div class="custom-card ">
                                            <div>Medio maratón de Merlbourn</div>
                                            <div class="country-title">GERMANY</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class=" mt-20"> <img class="main-img" src="./assets/img/screen/line.png"></div>
                    </div>
                </div>
                <div class="col-lg-12 two-card-section">
                    <img class="main-img" src="./assets/img/screen/p3.png">
                </div>
            </div>
        </div>
    </section>
</main>