<main class="bg-clr">
    <div class="position-relative">
        <!-- shape Hero -->
        <section class="section  pb-250">
            <div class="shape shape-style-1 shape-default">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>

        </section>
        <!-- 1st Hero Variation -->
    </div>
    <section class="section pt-lg-0 mt--200">

        <div class="container">
            <div class="row">

                <div class="col-lg-12 search-bar-section">
                    <img src="{{search_logo}}" />
                    <div class="search-bar">
                        <div class="search-section">
                            <input class="location-key" />
                            <input class="date-key" />
                            <a class="search-btn"></a>
                        </div>
                        <img src="./assets/img/screen/ads_line.png" />
                    </div>

                </div>


                <div class="col-lg-12 map-section">
                    <agm-map [zoom]="zoom" [disableDefaultUI]="true" [scrollwheel]="false" [styles]="darkstyle">
                        <agm-marker [iconUrl]="eventData.marker" [latitude]="eventData.a_lat" [longitude]="eventData.a_long" *ngFor="let eventData of eventDatas"></agm-marker>
                        <agm-marker [iconUrl]="Black_point.marker" [latitude]="Black_point.lat" [longitude]="Black_point.lng" *ngFor="let Black_point of Black_points"></agm-marker>
                    </agm-map>
                </div>


                <div class="col-lg-12 two-card-section">
                    <div class="row row-grid">
                        <div class=" mt-20 two-card">
                            <div class="col-lg-6 main-card">
                                <div> <img class="main-img" src="./assets/img/screen/bottom-img-1.png"></div>
                            </div>
                            <div class="col-lg-6 main-card">
                                <div> <img class="main-img" src="./assets/img/screen/bottom-img-2.png"></div>
                            </div>
                        </div>
                        <div class=" mt-20"> <img class="main-img" src="./assets/img/screen/line.png"></div>
                    </div>
                </div>

                <div class="col-lg-12 two-card-section">
                    <div class="row row-grid">

                        <div class=" mt-20 two-card">
                            <div class="col-lg-12 main-card">
                                <img class="main-img" src="./assets/img/screen/flight_cover.png">
                            </div>
                        </div>
                        <div class=" mt-20"> <img class="main-img" src="./assets/img/screen/line.png"></div>
                    </div>
                </div>
                <div class="col-lg-12 two-card-section">
                    <div class="row row-grid">
                        <div class="icons-section">
                            <img src="./assets/img/icon/date.png" />
                            <img class="vertical-line" src="./assets/img/icon/vertical_line.png" />
                            <img src="./assets/img/icon/map.png" />
                        </div>
                        <div class="search-result-section col-lg-12">
                            <div class="main-card" *ngFor="let event of eventDatas ; let indexOfelement=index;" (click)='moveDetailPage(indexOfelement)'>
                                <img src="{{event.imgp}}" />
                                <div class="detail">
                                    <p class="location">{{event.nombre}}</p>
                                    <p class="name">{{event.pais}}</p>
                                    <p class="date">{{event.fecha}}</p>
                                    <p class="peoples">runtripers 566</p>
                                </div>
                            </div>
                        </div>
                        <div class=" mt-20"> <img class="main-img" src="./assets/img/screen/line.png"></div>
                    </div>
                </div>


                <div class="col-lg-12 two-card-section">
                    <img class="main-img" src="./assets/img/screen/ads-cover.png">
                </div>
            </div>
        </div>
    </section>
</main>