<nav id="navbar-main" class="navbar navbar-main navbar-expand-lg navbar-transparent navbar-light headroom headroom--top headroom--pinned">
    <div class="container">
        <a class="navbar-brand mr-lg-5" [routerLink]="['/home']">
            <img src="./assets/img/icon/logo.png">
        </a>
        <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="navbar_global">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="navbar_global" [ngbCollapse]="isCollapsed">
            <div class="navbar-collapse-header">
                <div class="row">
                    <div class="col-6 collapse-brand">
                        <a [routerLink]="['/home']">
                            <img src="./assets/img/icon/logo.png">
                        </a>
                    </div>
                    <div class="col-6 collapse-close">
                        <button type="button" class="navbar-toggler" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="navbar_global">
                            <span></span>
                            <span></span>
                        </button>
                    </div>
                </div>
            </div>

            <ul class="navbar-nav align-items-lg-end ml-lg-auto">
                <li class="nav-item">
                    <a [routerLink]="['/landing']" class="dropdown-item">ABOUT US</a>
                </li>
                <li class="nav-item">
                    <a class="dropdown-item">BLOG</a>

                </li>
                <li class="nav-item">
                    <a class="dropdown-item">CONTACT</a>

                </li>
                <li class="nav-item">
                    <a class="dropdown-item">Login</a>
                </li>
                <li class="nav-item d-none d-lg-block ml-lg-4">
                    <img src="./assets/img/screen/user.png">
                </li>
            </ul>
        </div>
    </div>
</nav>