.footer-text {
    p {
        margin: 0px;
        font-family: 'Woodford Bourne';
        color: #9B9B9B;
        font-size: 20px;
        font-weight: bold;
    }
}

.red {
    color: #FF776B !important
}

.font-weight {
    font-weight: 200 !important;
}

.footer-logo {
    margin-top: 30px;
}